<%- include('partials/header.ejs'); -%>

<section class="movies-list-section">
    <div class="container">
        <div class="sorting-buttons">
            <!-- SORTING BUTTENS -->
            <form action="/sort" method="post" class="sort-form">
                <button
                    name="sortMovieByType"
                    value="id"
                    class="sorting-button">
                    SORT BY ID
                </button>
                <button
                    name="sortMovieByType"
                    value="rating"
                    class="sorting-button">
                    SORT BY RATING
                </button>
            </form>
            <form action="/sort-order" method="post" class="sort-form">
                <button
                    name="sortMovieByOrder"
                    value="ASC"
                    class="sorting-button">
                    ASC
                </button>
                <button
                    name="sortMovieByOrder"
                    value="DESC"
                    class="sorting-button">
                    DESC
                </button>
            </form>
        </div>
        <div class="movie-list">
            <!-- For each loop to go through all the movies in the array and display them -->
            <% for(let movie of listMovies){%>
            <div id="movie.<%=movie.id%>" class="movie">
                <div class="title">
                    <div class="title-rating">
                        &#11088; <%= movie.rating %> / 10
                    </div>
                    <div class="title-name"><%= movie.name %></div>
                    <div class="empty"></div>
                </div>
                <div class="comment"><%= movie.comment %></div>
                <!-- Edit and delete buttens for each individual movie -->
                <div class="buttons">
                    <button onclick="handler('<%=movie.id%>')">EDIT</button>
                    <form action="/delete" method="post">
                        <button name="deleteMovieId" value="<%= movie.id %>">
                            DELETE
                        </button>
                    </form>
                </div>
            </div>
            <!-- The editing part for each movie, hidden until the edit butten is pressed -->
            <div id="movieEdit.<%= movie.id%>" class="hidden">
                <form class="movie-from" action="/edit" method="post">
                    <div id="editTitle.<%=movie.id%>" class="tittle">
                        <input
                            type="hidden"
                            name="id"
                            value="<%= movie.id %>" />
                        <input
                            class="edit-rating"
                            type="text"
                            name="movieRating"
                            autocomplete="off"
                            autofocus="true"
                            maxlength="2"
                            value="<%= movie.rating %>" />
                        <input
                            class="edit-name"
                            type="text"
                            name="movieName"
                            autocomplete="off"
                            autofocus="true"
                            maxlength="50"
                            value="<%= movie.name %>" />
                        <div class="empty"></div>
                    </div>
                    <div class="comment">
                        <textarea
                            class="movie-comment"
                            type="text"
                            name="movieComment"
                            autocomplete="off"
                            autofocus="true"
                            rows="3"
                            cols="50">
<%= movie.comment %></textarea
                        >
                    </div>
                    <button type="submit" class="edit-button">
                        Submit Edit
                    </button>
                </form>
            </div>
            <% } %>
        </div>
        <div class="new-container">
            <!-- butten to open the new movie for adding new movies -->
            <a href="/new">
                <button class="new-button">Add new Movie</button>
            </a>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs'); -%>
